
.im-column-left, .im-column-right {
  width: 49%;
  float: left;
}
.im-column-right {
  margin-left: 2%;
}
h2.im-header {
  padding: 30px;
  background: #fff url('../img/logo-full-2x.png') no-repeat 20px center;
  background-size: 241px 37px;
  height: 33px;
  text-indent: -9999em;
  margin-right: 10px;
}
.im-box {
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 12px 0 25px;
  padding: 0 20px;
  width: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  border: 1px solid #e5e5e5;
  background: #fff;
  color: #555;
  font-size: 13px;
}
.im-config-wrap .button-cta {
  background: #13A509;
  border-color: #1A7914;
  -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
  color: #fff;
  text-decoration: none;
}
.im-config-wrap .button-cta:hover {
  background: #1A7914;
  border-color: #13A509;
  -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
  box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
  color: #fff;
}